/* .card {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  margin: 1rem;
  width: 14rem;
  height: 14rem;
  cursor: pointer;
  max-width: 540px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-body {
  width: 100%;
} */

.card {
  margin-top: 20px;
  width: 100%;
}

.btn {
  margin-right: 2%;
  right: 0;
}